<html>
    <head>
        <title>Agenda Web</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="container mt-5">
            <div class="d-flex flex-row-reverse">
                <a th:href="@{/contatos/novo}" class="btn btn-primary">
                    <i class="fa-solid fa-address-card"></i>
                    Novo
                </a>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nome</th>
                        <th>fone</th>
                        <th>ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="contato : ${contatos}">
                        <td th:text="${contato.id}">id</td>
                        <td th:text="${contato.nome}">nome</td>
                        <td th:text="${contato.fone}">fone</td>
                        <td>
                            <a th:href="@{/contatos/editar/{id}(id=${contato.id})}" class="btn btn-primary">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a th:href="@{/contatos/remover/{id}(id=${contato.id})}" class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>

